div{
    background-color: white;
    color: purple;
    margin-top: 50px;
    padding: 45px 15px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
}
button{
    padding: 6px;
    border-radius: 6px;
}